.todoItemWrapper {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .todoItemText {
    inline-size: 300px;
    overflow-wrap: break-word;
    cursor: pointer;
  }

  .todoItemBtn {
    width: 100px;
    height: 30px;
  }

  .done {
    text-decoration: line-through;
  }
}

